/*
* Application Master init file 
* Author : RedSpark
*/
.span-title {
	padding: 10px 0 0 10px;
	text-decoration: underline;
	color: #FFF;
}
.div-sec {
	width: 100px;
	height: 20px;
	color: #454545;
}